django==1.6.1
pillow==2.3.0
south==1.0.1
django-endless-pagination==2.0
django-grappelli==2.5.5
django-infinite-pagination==1.0
django-menu==0.1.8
django-navigation==0.8.1
django-solo==1.1.0
django-tinymce==1.5.3
django-utils==0.0.2
sorl-thumbnail==11.12.1b
virtualenv==1.11.6
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2